html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    grid-column: 1 / span 14;
    grid-row: 1 /span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 9999;
}

.header-left img {
    width: 70px;
}

.header-right {
    display: flex;
    gap: 50px;
    padding-right: 43px
}

.header-right img {
    width: 30px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/*a:hover {
    color: tomato;
}*/

#menuToggle {
    display: block;
    position: absolute;
    top: 46px;
    right: 30px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
    position: absolute;
    width: 300px;
    height: 1000px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: rgb(27, 4, 33);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
  * And let's fade it in from the left
  */
#menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 768px) {


    #menu {
        transform: none;
        opacity: 0;

        transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    /#menu {
        position: absolute;
        width: 300px;
        height: 1000px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: -100px;

        background: rgb(27, 4, 33);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}








footer {
    display: grid;
    grid-template-columns: 110px 1fr 1fr 110px;
    grid-template-rows: 1fr 150px;
    padding: 0px;
    background: rgba(21, 6, 40, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(21, 6, 40, 0.14);
}

.titeladresse {
    font-family: 'obviously-wide';
    font-weight: bold;
    font-size: 25px;
    color: rgb(153, 153, 153);
    margin-bottom: 10px;
    margin-top: 40px;
}

.footer-left {
    grid-column: 2 / span 1;

    display: flex;
    align-items: left;
    flex-direction: column;

    font-family: 'obviously-wide';
    font-size: 12px;
    color: rgb(153, 153, 153);

}

.adresse-footer {
    margin-bottom: -5px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}



.footer-right {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: right;
    margin-top: 25px;

}

.footer-spalteone {
    margin-right: 30%;

}

.linkfooter {
    margin-top: 20px;
}

.footer-right a {
    font-family: 'obviously-wide';
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(153, 153, 153);
    text-decoration: none;
    transition: color 0.2s;
    /* Smooth color transition for hover effect */
}


.footer-right a:hover {
    color: rgb(203, 203, 203);
    /* Link color on hover */
    text-decoration: underline;
}

.icons-footer {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    align-self: center;
    color: rgb(153, 153, 153);
}

hr {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    margin-top: 40px;
    border: 1px solid rgb(153, 153, 153);
    width: 100%;
    height: 0px;
}


.social-icon {
    height: 40px;
    margin-right: 10%;
    margin-top: 45px;
    color: rgb(153, 153, 153);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    footer {
        display: grid;
        grid-template-columns: 40px 1fr 1fr 40px;
        grid-template-rows: 1fr 150px;
        padding: 0px;
        background: rgba(21, 6, 40, 0.6);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.4px);
        -webkit-backdrop-filter: blur(4.4px);
        border: 1px solid rgba(21, 6, 40, 0.14);
    }

    .footer-spalteone {
        margin-right: 20%;

    }
}

@media only screen and (max-width: 768px) {

    footer {
        display: grid;
        grid-template-columns: 20px 1fr 1fr 20px;
        grid-template-rows: 1fr 100px;
        padding: 10px;
        background: rgba(21, 6, 40, 0.6);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.4px);
        -webkit-backdrop-filter: blur(4.4px);
        border: 1px solid rgba(21, 6, 40, 0.14);
    }

    .footer-spalteone {
        margin-right: 0%;
        margin-bottom: -10px;

    }

    .footer-right {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        justify-content: right;
        flex-direction: column;
        margin-top: 0px;
        text-align: right;
        margin-right: 10%;


    }

    hr {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
        margin-top: 15px;
        border: 1px solid rgb(153, 153, 153);
        width: 100%;
        height: 0px;
    }

    .social-icon {
        height: 40px;
        margin-top: 20px;
        margin-right: 16%;
        color: rgb(153, 153, 153);
    }

}