.h1center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 145px;
}

.tophits {
    display: grid;
    grid-template-columns: 40px 1fr 150px 40px;
    grid-template-rows: 500px;
    margin-top: -6.5%;
}

.toptop {
    grid-column: 3 /span 1;
    grid-row: 1 / span 1;
    display: flex;
    z-index: -1;
    justify-content: center;
    margin-top: 20px;

}

.topplace {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}

.top {
    color: white;
    font-size: 20px;
    text-justify: center;
    text-align: center;
    line-height: 30px;

}

.eventhittextplace {
    grid-column: 2 /span 1;
    grid-row: 1 / span 1;
    display: flex;
    margin-left: 4%;
    margin-top: 10px;
}

.eventhittext {
    color: white;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 2px;
}


.auswahl {
    grid-column: 2 / span 2;
    grid-row: 1 /span 1;
    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 1fr;
}

.deinvibeplace {
    z-index: 1;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: right;
    align-items: end;
}

.deinvibebox {
    background-color: rgb(0, 0, 0);
    width: 600px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);
}

.deinvibetext {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;

}

.auswahltype {
    display: flex;
    margin-top: -5%;
}

.musik {
    color: white;
    font-size: 20px;
    margin-left: 70px;

}

.was {
    color: white;
    font-size: 20px;
    margin-left: 46%;
}

.checkboxmusik ul {
    margin-top: 2px;
    margin-left: 4%;
}

.checkboxmusik li {
    display: flex;
    flex-direction: column;
    color: white;
    list-style-type: none;
}


.checkboxmusik2 ul {
    margin-top: -146px;
    margin-left: 30%;
}

.checkboxmusik2 li {
    display: flex;
    flex-direction: column;
    color: white;
    list-style-type: none;
}


.checkboxwas ul {
    margin-top: -146px;
    margin-left: 59%;
}

.checkboxwas li {
    display: flex;
    flex-direction: column;
    color: white;
    list-style-type: none;
}



.checkbox-container {
    margin-bottom: 6px;
}

.hitcenter {
    grid-column: 2 /span 2;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: start;
}

.hit {
    grid-column: 2 / span 13;
    grid-row: 1 / span 1;
    z-index: -2;
    display: flex;
    flex-wrap: wrap;
    width: 1425px;
    height: 300px;
}







.kalender {
    z-index: 1;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;

    display: flex;
    justify-content: left;
    align-items: end;


}



.calendar {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: #000000;
    padding: 10px;
    width: 300px;
    height: 290px;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3);

    .month {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 300;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .year {
            font-weight: 600;
            margin-left: 10px;
        }

        &:hover {
            background-color: #969696;
        }
    }

    .days {

        display: grid;
        grid-template-columns: repeat(7, 1fr);

        display: flex;
        justify-content: space-between;

        color: #ffffff;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .slay {
            cursor: pointer;
            outline: 0;
            border: 0;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            justify-self: center;
            align-self: center;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            margin: 2px;
            transition-duration: .2s;
            color: white;


            &:hover {
                background-color: #969696;
            }

            &:focus {
                background: #ffffff;
                color: #0e0e0e;
                font-weight: 600;
            }
        }
    }
}




















.bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 2.5%;
    margin-top: 3%;
}

.bars p,
.bars h2,
.bars h3 {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;

}

.grid-date {
    display: flex;
    height: 305px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 0px;
    margin-top: -35px;
    /* Sorry, this is an ugly hack */

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;

}

.date {
    margin-left: 0px;
}



.product {
    text-align: right;
    position: relative;
    display: flex;

    width: 33%;
    flex-basis: auto;
}



.product img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 50px;
    object-fit: cover;
}

.ortschaft {
    font-weight: lighter;
    font-size: 20px;


}

.eventtitel {
    font-size: 35px;
    font-weight: bold;

}

.musicstyle {
    font-size: 25px;
    font-weight: 700;
}

.preis {
    font-size: 18px;
}

.alter {
    font-size: 15px;
}




.popup4,
.popup3,
.popup2,
.popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    padding: 10px;
    border: 2px solid #000;
    width: auto;
    z-index: 9999;
    display: none;
    color: white;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #b0b0b0;
}

#popup4:target,
#popup3:target,
#popup2:target,
#popup1:target {
    display: block;
}


.abinusgang {
    border: black solid 1px;
    background-color: rgb(119, 119, 119);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: black;
}

.abinusgang:hover {
    background-color: black;
    color: white;
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .product {
        text-align: right;
        position: relative;
        display: flex;

        width: 50%;
        flex-basis: auto;
    }

    .ortschaft {
        font-weight: lighter;
        font-size: 20px;


    }

    .eventtitel {
        font-size: 35px;
        font-weight: bold;

    }

    .musicstyle {
        font-size: 20px;
        font-weight: 700;
    }

    .preis {
        font-size: 12px;
    }

    .alter {
        font-size: 10px;
    }

}

@media only screen and (max-width: 768px) {

    .product {
        text-align: right;
        position: relative;
        display: flex;

        width: 90%;
        flex-basis: auto;
    }

    .ortschaft {
        font-weight: lighter;
        font-size: 20px;


    }

    .eventtitel {
        font-size: 35px;
        font-weight: bold;

    }

    .musicstyle {
        font-size: 20px;
        font-weight: 700;
    }

    .preis {
        font-size: 12px;
    }

    .alter {
        font-size: 10px;
    }

}