body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(/images/Hintergrund.png);
    background-size: 100% 9000px;
    background-position: center;
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    grid-template-rows: repeat(34, 100px);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'cheee-wowie', sans-serif;
    font-size: 4vw;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

h2 {
    font-family: 'obviously-wide', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    margin: 0px;
    margin-bottom: -10px;
    color: white;
}


p {
    font-family: 'obviously-wide', sans-serif;
    font-size: 1vw;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    color: white;
}



#impressum {
    grid-area: 2 / 3 / span 8 / span 9;
}

#Datenschutz {
    grid-area: 13 / 3 / span 9 / span 9;
}

#Fragen {
    grid-area: 28 / 3 / span 2 / span 9;
}

footer {
    grid-column: 1 / span 14;
    grid-row: 31 / span 4;
}

@media screen and (max-width: 1000px) {}


@media screen and (max-width: 657px) {}