body {
    
    background-image: url(/images/Hintergrund.png);
    background-size: 100% 9000px;
    background-position: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    display: none;
}


h1 {
    font-size: 145px;
    color: white;
}

h2{
    font-size: 50px;
    color: white;
}

p{
    color: white;
    font-size: 15px;
}

h3{
    color: white;
}
