:root {
    --color-background-white: #ffffff;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(/images/Hintergrund.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    min-width: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    grid-template-rows: repeat(26, 100px);

}

footer {
    grid-column: 1 / span 14;
    grid-row: 24 / span 4;
}

h2 {
    font-family: 'cheee-wowie', sans-serif;
    font-size: 4vw;
    margin: 0px;
    color: white;
}

h3 {
    font-family: 'cheee-wowie', sans-serif;
    font-size: 3vw;
    margin: 0%;
    color: white;
}

h4 {
    font-family: 'obviously-wide', sans-serif;
    font-size: 1.5vw;
    margin: 0%;
    color: white;
    font-weight: 700;
}

p {
    font-family: 'obviously-wide';
    font-size: 13px;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    color: white;
}

button {
    background-color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: 'obviously-wide', sans-serif;
    border-radius: 10vw; 
}

#buttontop {
    grid-column: 4/ span 8;
    grid-row: 1/ span 3;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttontop1 {
    height: 15vw;
    width: 60vw;
    font-size: 4vw;
}

/* Events */
#TitelEvents {
    display: flex;
    grid-area: 4 / 2 / span 1 /span 12;
    font-size: 50px;
    align-items: flex-end;
    justify-content: center;
}

.events {
    margin: 10px;
}

.eventpictures {
    width: 100%;
    object-fit: cover;
}

#event1 {
    grid-area: 5 / 2 / 11 / 6;
}

#event2 {
    grid-area: 5 / 6 / 11 / 10;
}

#event3 {
    grid-area: 5 / 10 / 11 / 14;
}


/* Podcast */
#TitelPodcast {
    grid-area: 12 / 8 / span 1 / span 6;
    text-align: left;
    font-size: 50px;
}

.podcastpictures {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#PodcastPictures {
    grid-area: 12 / 2 / span 4 / span 5;
    align-content: center;
    overflow: hidden;
}

#TextPodcast {
    grid-area: 13 / 8 / span 2 / span 6;
    text-align: left;
    font-size: 20px;
    width: 100%;

    p {
        margin: 0px;
    }
}

#buttonpodcast {
    grid-area: 15 / 9 / span 1 / span 4;
    text-align: center;
}

#buttonpodcast1 {
    height: 100px;
    width: 30vw;
    font-size: 2vw;

}

/* Team */
#TitelTeam {
    grid-area: 17 / 2 / span 1 / span 12;
    text-align: center;
    font-size: 100px;
    color: white;
}

.teampictures {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#TeamPictures {
    grid-area: 17 / 4 / span 5 / span 8;
    align-content: center;
    overflow: hidden;
}

#TextTeam {
    grid-area: 22 / 5 / span 2 / span 6;
    text-align: left;
    font-size: 20px;
    width: 100%;
}



/* Tablet */
@media screen and (max-width: 1024px) {
    p {
        font-size: 11px;
        padding: 0px;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    #buttontop {
        grid-column: 2/ span 12;
    }

    #buttontop1 {
        height: 25vw;
        width: 60vw;
        font-size: 4vw;
    }

    /* Events */
    .events {
        p {
            margin-top: 10px;
        }
    }

    #event1 {
        grid-area: 5 / 2 / span 3 / span 4;
    }

    #event2 {
        grid-area: 5 / 6 / span 3 / span 4;
    }

    #event3 {
        grid-area: 5 / 10 / span 3 / span 4;
    }

    /* Podcast */
    #TitelPodcast {
        grid-area: 10 / 2 / span 1 / span 12;
        font-size: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .podcastpictures {
        width: 100%;
        height: auto;

    }

    #PodcastPictures {
        grid-area: 11 / 2 / span 3 / span 12;
        overflow: hidden;
    }

    #TextPodcast {
        grid-area: 14 / 2 / span 2 / span 7;
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }

    #buttonpodcast {
        grid-area: 15 / 9 / span 1 / span 5;
        text-align: center;
    }

    /* Team */
    #TitelTeam {
        grid-area: 18 / 2 / span 1 / span 12;
    }

    #TeamPictures {
        grid-area: 18 / 2 / span 3 / span 12;
        align-content: center;
        overflow: hidden;
    }

    #TextTeam {
        grid-area: 21 / 4 / span 2 / span 8;
        text-align: left;
        font-size: 20px;
        width: 100%;
    }
}

/* Handy */
@media screen and (max-width: 768px) {
    body {
        background-image: url(/images/HintergrundHandy.png);
        background-position: center;
        background-size: 100% auto;
    }

    main {
        grid-template-columns: 15px repeat(12, 1fr) 15px;
        grid-template-rows: repeat(34, 100px);
    }

    footer {
        grid-row: 31 / span 4;
    }


    #buttontop1 {
        height: 30vw;
        width: 70vw;
        font-size: 5vw;
    }

    p {
        font-size: 11px;
        margin-top: 5px;
    }

    h2 {
        font-size: 7.5vw;
        padding: 0px;
        margin: 0px;
    }

    h3 {
        font-size: 5vw; 
    }

    h4 {
        font-size: 2.5vw;
    }

    /* Events */
    #TitelEvents {
        grid-area: 4 / 2 / span 1 /span 12;
    }

    .events {
        margin: 10px;
        margin-top: 0px;
    }

    .eventpictures {
        height: 50%;
        object-fit: cover;
    }

    #event1 {
        grid-area: 5 / 2 / span 4 / span 12;
    }

    #event2 {
        grid-area: 9 / 2 / span 4 / span 12;
    }

    #event3 {
        grid-area: 13 / 2 / span 4 / span 12;
    }


    /* Podcast */
    #TitelPodcast {
        grid-area: 18 / 1 / span 1 / span 14;
        text-align: center;
        color: white;
        display: block;
    }

    .podcastpictures {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #PodcastPictures {
        grid-area: 18 / 1 / span 3 / span 14;
        align-content: center;
        overflow: hidden;
    }

    #TextPodcast {
        grid-area: 21 / 3 / span 2 / span 10;
        text-align: left;
        display: block;
        p {
            margin: 5px;
        }
    }

    #buttonpodcast {
        grid-area: 23 / 4 / span 1 / span 8;
        text-align: center;
    }

    #buttonpodcast1 {
        width: 50vw;
        font-size: 3vw;
    }

    /* Team */
    #TitelTeam {
        grid-area: 26 / 2 / span 1 / span 12;
        text-align: center;
        font-size: 100px;
        color: white;
    }

    .teampictures {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #TeamPictures {
        grid-area: 26 / 1 / span 3 / span 14;
        align-content: center;
        overflow: hidden;
    }

    #TextTeam {
        grid-area: 29 / 3 / span 2 / span 10;
        text-align: left;
        font-size: 20px;
        width: 100%;
    }

}