body {
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    margin: 0;
    padding: 0;
    background-image: url(/images/Hintergrund.png);
    background-size: 100% 9000px;
    background-position: center;
    z-index: -8888;
}

main {
    grid-column: 2 / span 12;
    padding: 20px;
}

.titel h1, .titel h2 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px 0;
    color: white;
}

#video {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.team {
    margin-bottom: 20px; 
    border-radius: 10px; 
}

.team img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team h3, .team h4 {
    margin: 0;
    padding: 5px 0;
}

.team p {
    line-height: 1.6;
}

.infos {
    padding: 20px;
    margin-bottom: 20px; 
}

.infos h3, .infos h4 {
    margin: 0;
    padding: 5px 0;
    color: white;
}

h1 {
    text-align: center;
    font-size: 145px;
    color: white;
}

h2{
    text-align: center;
    font-size: 50px;
    color: white;
}

p{
    color: white;
    font-size: 15px;
}

h3{
    color: white;
}

h4{
    color: white;
}

.gruppenfoto {
    height: 450px;
    width: 100% !important;
    object-fit: cover;
    object-position: top center;
}

.team{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infos{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portrait img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    justify-content: space-around;
    align-items: flex-start;
}