body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    width: 100%;
    background-image: url(/images/Hintergrund.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    grid-template-rows: repeat(9, 100px) repeat(1fr, 4);
}

p{
    color: white;
    font-size: 12px;
    font-family: 'obviously-wide';
}

.titel{
    grid-column: 4 / span 8;
    grid-row: 1 / span 2;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-justify: start;
    font-size: 110px;
    
    color: white;
    font-family: 'cheee-wowie', sans-serif;
}
h1{
    margin: 0;
    margin-top: 45px;
    font-size: 10vw;
}

.gruppenfoto {
    grid-column: 2 / span 12;
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

h2{
    grid-column: 3 / span 10;
    grid-row: 8 / span 2;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'obviously-wide';
}


.teamContainer{
    justify-self: center;
}
.teamWrap{
    width: 93%;
    position: relative;
}

.team{
    grid-column: 2 / span 12;
    grid-row: 10 / span 1;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portraitbild{
    width: 100%;
    height: auto;
}
.portraitbildback{
    width: 100%;
    height: auto;
}
#backImgJan{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#backImgJan:hover{
    opacity: 1;
}

#backImgWera{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#backImgWera:hover{
    opacity: 1;
}
#backImgNicole{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#backImgNicole:hover{
    opacity: 1;
}
#backImgStefi{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#backImgStefi:hover{
    opacity: 1;
}


.beschreibung{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    color: white;
    font-family: 'cheee-wowie', sans-serif;
    font-size: 25px;
    align-self: flex-start;
    margin: 0;
}
h4{
    color: white;
    font-family: 'obviously-wide';
    font-weight: lighter;
    font-size: 15px;
    align-self: flex-end;
    margin: 0;
}

details{
    display: flex;
}
summary{
    color: white;
    font-family: 'obviously-wide';
    font-size: 12px;
    cursor: pointer;
}

@media (hover:hover) and (pointer:fine) {
    summary:hover{
        color: #f1009d;
    }
}

.textli{
    text-align: justify;
}



/*Du*/
.bildDu{
    display: flex;
    justify-content: center;
    grid-column: 3 / span 10;
    grid-row: 11 / span 1;
    padding-top: 80px;
}
#dubild{
    width: 33%;
    height: auto;
}
.du{
    display: flex;
    flex-direction: column;
    grid-column: 5 / span 6;
    grid-row: 15 /span 6;
    padding-bottom: 60px;
}
#funktionDu, #nameDu{
    text-align: center;
}
#textDu{
    text-align: justify;
}

#duDatenschutz{
    color: rgba(255, 255, 255, 0.752);
    font-size: 12px;
    text-align: justify
}
.button {
    background-color: rgba(255, 255, 255, 0.731);
    border: none;
    color: #7900e1;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'obviously-wide';
    font-size: 8px;
}


.geschichte {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2/span 6;
    grid-row: 21 / span 1;
    text-align: justify;
}
#geschichtetitel {
    font-family: 'cheee-wowie', sans-serif;
    font-size: 50px;
    color: white;
}


.mission{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 8/span 6;
    grid-row: 22 / span 1;
    text-align: justify;
    padding-bottom: 50px;
}
#missiontitel {
    font-family: 'cheee-wowie', sans-serif;
    font-size: 50px;
    color: white;
    align-self: flex-end;
}


.werte{
    display: flex;
    flex-direction: column;
    grid-column: 5 / span 6; 
    grid-row: 23 / span 1;
    padding-bottom: 50px;
}

#wertetitel{
    font-family: 'cheee-wowie', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 20px;
    text-align: center;
}
#benutzerfreundlich{
    font-family: 'obviously-wide';
    font-size: 20px;
    color: white;
    line-height: 70px;
    margin-left: 10px;
    text-align: center;
}
#benutzerfreundlichText{
    text-align: justify;
}

#respekt{
    font-family: 'obviously-wide';
    font-size: 20px;
    color: white;
    line-height: 70px;
    margin-left: 10px;
    text-align: center;
}
#respektText{
    text-align: justify;
}

#vielfalt{
    font-family: 'obviously-wide';
    font-size: 20px;
    color: white;
    line-height: 70px;
    margin-left: 10px;
    text-align: center;
}
#vielfaltText{
    text-align: justify;
}

#gemeinschaft{
    font-family: 'obviously-wide';
    font-size: 20px;
    color: white;
    line-height: 70px;
    margin-left: 10px;
    text-align: center;
}
#gemeinschaftText{
    text-align: justify;
}




/*video*/
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 5 / span 6;
    grid-row: 24 / span 1;
    padding-bottom: 60px;
    justify-content: center; 
}
#titelVideo{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
#textVideo{
    text-align: center;
    line-height: 70px;
    margin-bottom: 0px;
}

.videoplay {
    display: flex;
    justify-content: center; 
    padding-top: 56.25%;
    position: relative;

}
.videoplay iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#videoButton {
    padding-bottom: 40px;
    text-align: center;
}



/*Tablets*/
@media screen and (max-width: 1000px){
    
    h1{
        font-size: 100px;
        margin-top: 20px;
    }

    h2{
        font-size: 20px;
    }

    .teamContainer{
        margin-top: 50px;
    }
    
    .bildDu{
        padding-top: 40px;
    }

    #duDatenschutz{
        line-height:17px;
    }

    .button {
        font-size: 10px;
    }

    .werte{
        grid-column: 4 / span 8; 
    }

    #benutzerfreundlich{
        font-size: 15px;
        line-height: 40px
    }

    #respekt{
        font-size: 15px;
        line-height: 40px;
    }

    #vielfalt{
        font-size: 15px;
        line-height: 40px;
    }

    #gemeinschaft{
        font-size: 15px;
        line-height: 40px;
    }

    .video {
        grid-column: 4 / span 8;
    }

    #textVideo{
        line-height: 30px;
        margin-top: 0;
    }
}


/*Handy*/
@media screen and (max-width: 657px) {
    body {
        grid-template-columns: 15px repeat(12, 1fr) 15px;
        grid-template-rows: repeat(30, 100px);
        background-image: url(/images/HintergrundHandy.png);
        background-position: center;
        background-size: 100% auto;
    }

    .titel{
        grid-column: 3 / span 9;
    }
    h1{
        font-size: 80px;
        margin-top: 20px;
    }

    h2{
        grid-column: 2 / span 12;
        font-size: 15px;
    }

    .team{
        grid-column: 5 / span 6;
        display: flex;
        flex-direction: column;
    }
    
    .du{
        grid-column: 3 / span 10;
    }

    #dubild{
        width: 60%;
    }
    
    #geschichtetitel {
        font-size: 45px;
    }
    .geschichte {
        grid-column: 2 / span 12;
        text-align: justify;
    }

    #missiontitel {
        font-size: 45px;
    }
    .mission {
        grid-column: 2 / span 12;
        text-align: justify;
    }

    .werte{
        grid-column: 3 / span 10; 

    }
    #wertetitel{
        font-size: 45px;
    }

    .video {
        grid-column: 3 / span 10;
    }
    #videotitel{
        font-size: 45px;
    }
    #textVideo{
        line-height: 20px;
    }
    #videoButton {
        padding-bottom: 20px;
    }

}